<header class="header-v2">
  <div class="container-menu-desktop">
    <div class="wrap-menu-desktop">
      <div class="logo">
        <a routerLink="/" class="logo-text">SHOPPIA STORE</a>
      </div>

      <nav class="menu-desktop">
        <ul class="main-menu">
          <li
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/">Home</a>
          </li>

          <li routerLinkActive="active-link"><a routerLink="/shop">Shop</a></li>

          <li routerLinkActive="active-link">
            <a routerLink="/about">About</a>
          </li>

          <li *ngIf="isAdmin$ | async">
            <a routerLink="/admin/dashboard">Dashboard</a>
          </li>
        </ul>
      </nav>

      <div class="wrap-icon-header flex-w flex-r-m">

        <ng-container *ngIf="isLoggedIn; else loginButton">
          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
            <span class="user-name"
              >Hello, {{ currentUser?.firstName || currentUser?.email }}</span
            >
            <i class="fa fa-user ml-2"></i>
            <button class="btn-logout" (click)="logout()">Logout</button>
          </div>
        </ng-container>
        <ng-template #loginButton>
          <a
            routerLink="/login"
            class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
          >
            <i class="fa fa-user"></i>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
