<div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4">
  <div
    class="p-6 rounded-lg shadow-md text-white cursor-pointer bg-teal-500 hover:bg-teal-600"
    routerLink="products"
    routerLinkActive="ring-4 ring-white"
  >
    <div class="flex items-center justify-between">
      <i class="fas fa-shopping-cart text-2xl"></i>
      <div class="text-right">
        <div class="text-sm">Products</div>
      </div>
    </div>
  </div>
  <div
    class="p-6 rounded-lg shadow-md text-white cursor-pointer bg-pink-500 hover:bg-pink-600"
    routerLink="users"
    routerLinkActive="ring-4 ring-white"
  >
    <div class="flex items-center justify-between">
      <i class="fas fa-user text-2xl"></i>
      <div class="text-right">
        <div class="text-sm">Users</div>
      </div>
    </div>
  </div>
  <div
    class="p-6 rounded-lg shadow-md text-white cursor-pointer bg-orange-400 hover:bg-orange-500"
    routerLink="category"
    routerLinkActive="ring-4 ring-white"
  >
    <div class="flex items-center justify-between">
      <i class="fas fa-shopping-cart text-2xl"></i>
      <div class="text-right">
        <div class="text-sm">Category</div>
      </div>
    </div>
  </div>
  <div
    class="p-6 rounded-lg shadow-md text-white cursor-pointer bg-emerald-500 hover:bg-emerald-600"
    routerLink="stock"
    routerLinkActive="ring-4 ring-white"
  >
    <div class="flex items-center justify-between">
      <i class="fas fa-home text-2xl"></i>
      <div class="text-right">
        <div class="text-sm">Stock</div>
      </div>
    </div>
  </div>
</div>

<div class="p-6">
  <router-outlet></router-outlet>
</div>
   